<!--<script src="http://localhost:8098"></script>-->
<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .active {
    color: green;
  }
  .text-danger {
    color: red;
  }
  .divider {
    height: 1px;
    width: 100px;
    background: black;
    display: inline-block;
  }
  .todo-filter {
    margin-top: 20px;
  }
</style>
<script>
  const ALL_FILTER = {
    ALL: '全部',
    NOT_COMPLETED: '待办',
    COMPLETED: '完成',
  };
  const data = {
    numbers: [ 1, 2, 3, 4, 5 ],
    teamObject: {
      中国队: 10,
      巴西队: 0,
      德国队: -10,
    },
    loginType: 'username',
    random: Math.random(),
    ok: true,
    isActive: true,
    error: null,
    activeButtonName: '按钮1',
    buttonNames: ['按钮1', '按钮2', '按钮3'],
    msg: '我是大好人...',
    products: [],
    message: `页面加载于${(new Date()).toLocaleString()}`,
    seen: true,
    normalMessage: '大咖好，我系渣渣辉!',
    groceryList: [
      { id: 0, text: '蔬菜' },
      { id: 1, text: '奶酪' },
      { id: 2, text: '随便其它什么人吃的东西' }
    ],
    rawHTML: `<span style="color: red">我应该是红色的</span>`,
    dynamicId: 'shiyuwudi',
    isButtonDisabled: true,
    id: '1',
    imgSrc: 'https://ss0.baidu.com/7Po3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=a9f37a64f11f4134ff37037e151d95c1/c995d143ad4bd1137c1d50b556afa40f4afb0560.jpg',
    items: [
      { id: 0, title: '今天' },
      { id: 1, title: '明天' },
      { id: 2, title: '后天' },
    ],
    todos: [
      { id: 0, title: '吃肉', isComplete: false },
      { id: 1, title: '买游戏', isComplete: true },
      { id: 2, title: '好好睡觉', isComplete: false },
    ],
    newTodoText: '',
    filters: [ALL_FILTER.ALL, ALL_FILTER.NOT_COMPLETED, ALL_FILTER.COMPLETED],
    currentFilter: ALL_FILTER.ALL,
    counter: 0,
    name: 'Vue.js',
  };
</script>
<div id="app">

  <div id="example-2">
    <!-- `greet` 是在下面定义的方法名 -->
    <button v-on:click="greet">Greet</button>
  </div>

  <div id="example-1">
    <button v-on:click="counter += 1">Add 1</button>
    <p>The button above has been clicked {{ counter }} times.</p>
  </div>
  
  <div>
    <p>待办列表</p>
    <input v-model="newTodoText" placeholder="比如：记得买鸡蛋" />{{' '}}<button @click="addNewTodo">添加</button>
  </div>
  
  <div class="todo-filter">
    <template v-for="type in filters">
      <span v-if="type === currentFilter">
        {{ type }}
      </span>
      <a
        v-else
        href="javascript:void(0)"
        :style="{'margin-right': '10px', color: currentFilter===type ? 'orange': ''}"
        @click="setFilter(type)"
      >
        {{type}}
      </a>
    </template>
  </div>
  <ul v-if="todos.length">
    <li v-for="todo in getFilteredTodos">
      <input type="checkbox" v-model="todo.isComplete" />
      {{' '}}
      <span :style="{'text-decoration': todo.isComplete ? 'line-through' : 'none' }">{{ todo.title }}</span>
      {{' '}}
      <a href="javascript:void(0)" @click="delTodo(todo)">删除</a>
    </li>
  </ul>
  <p v-else>没了！</p>
  <p>for > if</p>
  <ul>
    <li v-for="todo in todos" v-if="!todo.isComplete">
      {{ todo.title }}
    </li>
  </ul>
  <ul>
    <template v-for="item in items">
      <li>{{item.title}}</li>
      <li class="divider"></li>
    </template>
  </ul>
  <div>
    <span v-for="n in 10">{{n + ' '}}</span>
  </div>
  <li v-for="m in even(numbers)" style="color: red">{{ m }}</li>
  <li v-for="n in evenNumbers" style="color: blue">{{ n }}</li>

  <ul>
    <li v-for="(value, key) of teamObject">
      {{key}}取得{{value}}分
    </li>
  </ul>

  <template v-if="loginType === 'username'">
    <label>用户名</label>
    <input type="text" placeholder="请输入用户名" key="username">
  </template>
  <template v-else>
    <label>邮箱</label>
    <input type="text" placeholder="请输入邮箱" key="email">
  </template>
  <p>
      <button @click="toggleLoginType">切换登录方式</button>
  </p>
  

  <span v-if="random > 0.5">
    中国队赢世界杯
  </span>
  <span v-else>
    巴西队赢世界杯
  </span>
  <button @click="random = Math.random()">再试试手气</button>
  
  <template v-if="ok">
    <h1>Title</h1>
    <p>Paragraph 1</p>
    <p>Paragraph 2</p>
  </template>
  <p v-if="ok">Yes</p>
  <p v-else>No</p>
  <p :class="classObject">绑定类对象</p>
  <p>
    类名绑定
    <span v-for="(buttonName, i) in buttonNames" style="margin-right: 10px">
      <a
        :class="{ active: activeButtonName === buttonName }"
        href="javascript:void(0)"
        @click="onClickButtonName(buttonName)"
      >
        {{i + 1}}-{{buttonName}}
      </a>
    </span>
  </p>

  <div id="example">
    <p>Original message: "{{ msg }}"</p>
    <p>from Computed: "{{ rMsg }}"</p>
    <p>from methods: "{{ getRMsg() }}"</p>
  </div>
  <ul>
    <li v-for="product in products">
      <input type="number" v-model.number="product.quantity" />
      {{ product.name }}
      <span v-if="product.quantity === 0" style="color: red">
        --没有库存了--
      </span>
      <button @click="product.quantity++">+</button>
      {{  }}
      <button @click="product.quantity--">-</button>
    </li>
  </ul>
  <h2>总库存: {{ total }}个</h2>
  <h2 :title="message">悬停查看提示信息</h2>
  <button @click="seen = !seen">{{seen ? 'hide' : 'show'}}</button>
  <transition name="fade">
    <p v-if="seen">现在你看到我了</p>
  </transition>
  <button @click="reverseMessage">reverse text</button>
  <p>text: {{normalMessage}}</p>
  <input v-model="normalMessage" />
  <ol>
    <todo-item
      v-for="item in groceryList"
      v-bind:key="item.id"
      v-bind:todo="item"
      class="baz boo"
    ></todo-item>
  </ol>
  <p>普通插值 {{rawHTML}}</p>
  <p>html插值 <span v-html="rawHTML"></span></p>
  <div :id="dynamicId">动态绑定HTML特性（property）</div>
  <button :disabled="isButtonDisabled">动态绑定disabled</button>
  <p :id="'list-' + id">动态绑定：表达式</p>
  <input type="text" v-model="imgSrc">
  <p>
    <img :src="imgSrc" alt="image" width="100" height="100">
  </p>
  <a @click="onAClick" href="javascript:void(0)">v-on click</a>
</div>

<!--<script src="https://unpkg.com/vue"></script>-->
<script src="./vue.js"></script>

<script>

  // 声明组件（得在调用之前）
  Vue.component('todo-item', {
    // 接收props
    props: ['todo'],
    template: `<li style="color: blue" class="foo bar">{{todo.text}}</li>`,
  });

  let id = 0;

  const vm = new Vue({
    el: '#app',
    data: data,
    computed: {
      getFilteredTodos() {
        return this.todos.filter(obj => {
          if (this.currentFilter === ALL_FILTER.ALL) {
            return true;
          } else if (this.currentFilter === ALL_FILTER.COMPLETED) {
            return obj.isComplete;
          } else if (this.currentFilter === ALL_FILTER.NOT_COMPLETED) {
            return !obj.isComplete;
          }
          return false;
        });
      },
      evenNumbers() {
        return this.numbers.filter(obj => obj % 2 === 0);
      },
      classObject() {
        return {
          active: this.isActive && !this.error,
          'text-danger': this.error && this.error.type === 'fatal',
        };
      },
      total() {
        return this.products.reduce((r, e) => r + e.quantity, 0);
      },
      rMsg() {
        // console.log('**computed**');
        return this.msg.split('').reverse().join('');
      },
    },
    methods: {
      greet: function (event) {
        // `this` 在方法里指向当前 Vue 实例
        alert('Hello ' + this.name + '!')
        // `event` 是原生 DOM 事件
        if (event) {
          alert(event.target.tagName);
        }
      },
      setFilter(filter) {
        this.currentFilter = filter;
      },
      addNewTodo() {
        if (this.newTodoText) {
          this.todos = this.todos.concat([{
            id: ++id,
            title: this.newTodoText,
            isComplete: false,
          }]);
          this.newTodoText = '';
        }
      },
      delTodo(todo) {
        this.todos = this.todos.filter(obj => obj.id !== todo.id);
      },
      even(arr) {
        return arr.filter(obj => obj % 2 === 0);
      },
      toggleLoginType() {
        if (this.loginType === 'username') {
          this.loginType = 'email';
        } else {
          this.loginType = 'username';
        }
      },
      onClickButtonName(buttonName) {
        this.activeButtonName = buttonName;
        // console.log('onClickButtonName', buttonName);
      },
      getRMsg() {
        // console.log('**methods**');
        return this.msg.split('').reverse().join('');
      },
      reverseMessage() {
        this.normalMessage = this.normalMessage.split('').reverse().join('');
      },
      onAClick() {
        console.log('@ atag clicked @')
      },
    },
    // beforeCreate() {
    //   console.log('==beforeCreate==');
    // },
    created () {
      // 生命周期-创建
      fetch('https://api.myjson.com/bins/74l63')
        .then(response => response.json())
        .then(json => {
          this.products = json.products;
        });
      // console.log('==created==');
    },
    // beforeMount() {
    //   console.log('==beforeMount==');
    // },
    // mounted() {
    //   console.log('==mounted==');
    // },
    // beforeUpdate() {
    //   console.log('==beforeUpdate==');
    // },
    // updated() {
    //   console.log('==updated==');
    // },
  });

</script>